[Desktop Entry]
Type=Application
Name=JLDrill - Japanese Language Drills
GenericName=jldrill
Comment=Tool for learning Japanese
Exec=/usr/bin/jldrill
Terminal=false
Icon=jldrill-icon
Categories=Education;
