Source: jldrill
Section: text
Priority: optional
Maintainer: Mike Charlton <mikekchar@gmail.com>
Build-Depends: debhelper (>= 7), ruby, rubygems, rake, librspec-ruby, rcov
Standards-Version: 3.9.2
Homepage: http://sakabatou.dnsdojo.org

Package: jldrill
Architecture: all
Depends: ruby, ruby-gnome2, ttf-kanjistrokeorders, edict, ${misc:Depends}
Description: Japanese language drill program
 JLDrill is a program for helping people study and drill various aspects 
 of the Japanese language. Current features include a variety of drills
 (kana, and vocabulary) a kanji and dictionary reference tool
 inspired by the firefox plugin Rikaichan, kanji stroke order
 diagrams, and vocabulary collocations using the Tanaka corpus (a
 series of example sentences in English and Japanese).  JLDrill's
 drills use a spaced repetition algorithm which is unique to it.
 This algorithm helps with initial acquisition of vocabulary, automatically
 grades item difficulty and improves the ability to deal with inconsistent
 review schedules.
