/* andreas07 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

/**************** Page and tag styles ****************/

body
{margin:0; padding:0; color:#303030; background:#ffffea; font:100% sans-serif;}

ul
{list-style:circle; margin:1em 0 1em 0; font-size:0.8em;}

li
{margin:0 0 .25em 1em;}

a
{color:#d82d2d; font-weight:bold; text-decoration:none;}

a:hover
{color:#505050; text-decoration:underline;}

img
{float:center; margin: 0 0 1em 10%; background:#ffffff; border:1px solid #d0d0d0;}

a img
{border-color:#d82d2d;}

a img:hover
{background:#d82d2d; border-color:#d82d2d;}

/**************** Sidebar area styles ****************/

#sidebar
{position:absolute; top:0; left:0; width:23%; height:100%; overflow:auto; background:#e0e0f0; text-align:right;}

body > #sidebar
{position:fixed;}

#sidebar img
{float:left; margin: 0;}

#sidebar h1
{margin:1em .25em 0 0; color:#d82d2d; font-size:1.5em; text-align:right;}

#sidebar h2, #sidebar h3
{margin:0 1em 1em 0; color:#404040; font-size:1em; font-weight:bold; text-align:right; line-height:1em;}

#sidebar h3
{margin:1em 1em .25em .25em; color:#404040;}

#sidebar  p
{margin:0 1em 1em .25em; color:#404040; font-size:0.8em;}

#sidebar a
{color:#606060}

#sidebar ul
{margin-right: 1em; margin-left: .25em; list-style-type: none;}

#sidebar li
{margin: 0px; padding-left: .25em;}

/**************** Navigation menu styles ****************/

#menu .webgen-menu ul
{list-style-type: none; margin: 0px; padding: 0px; font-size: 1.0em; text-align:right;}

#menu .webgen-menu li
{margin: 0px; padding: 0px}

#menu .webgen-menu a, #menu .webgen-menu span
{display:block; width:80%; padding:0.1em 1em 0.1em 0; color:#303030; background:#f0e0e0 url(images/sidebarbg.gif) top right repeat-y; font-size:0.8em; font-weight:normal; text-decoration:none;}

#menu .webgen-menu a:hover, #menu .webgen-menu span:hover
{color:#303030; background:#f0a0a0 url(images/sidebarbg.gif) top right repeat-y;}

#menu .webgen-menu li.webgen-menu-item-selected a, #menu .webgen-menu li.webgen-menu-item-selected span
{padding:0.25em 1em 0.25em 0; background:#ffffea; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}

#menu .webgen-menu li.webgen-menu-item-selected a:hover, #menu .webgen-menu li.webgen-menu-item-selected span:hover
{color:#505050; background:##ffffea;}

/**************** Content area styles ****************/

#content
{width:65%; margin:0 0 0 23%; padding:2em 2em; background:#ffffea;}

#content p
{margin:0 0 1em 0; line-height:1.5em;}

#content h1
{margin:0; color:#a81d1d; font-weight:bold; font-size:2.5em; text-align:center;}

#content h2
{clear:both; color:#1d1d88; font-weight:normal; font-size: 2em;}

#content h3
{clear:both; color:#505050; font-weight:normal; font-size: 1.2em;}
